.myBtn {
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 185px;
    height: 52px;
    gap: 8px;

    padding: var(--space-s) var(--space-l);

    font-size: 18px;
    line-height: 18px;
    color: var(--button-primary-text);
    background-color: var(--brand);
    &:active {
        background-color: var(--brand-active);
    }
    &:disabled {
        color: var(--button-primary-text-disabled);
        background-color: var(--button-primary-bg-disabled);
    }
    &.loading {
        background-color: var(--brand);
        &.disabled {
            background-color: var(--button-primary-bg-disabled);
        }
    }
    &:not([disabled]):hover {
        background-color: var(--brand-hover);
    }
}
