@import "styles/forwarded";

.myBtn {
  @include flexbox(center, space-between, 8px);
  @include typo(18px, 18px);

  max-width: 185px;
  padding: $space-xs $space-m;

  border: none;

  color: $button-primary-text;
  background-color: $brand;

  &.rounded {
    border-radius: 50%;
  }

  &.rected {
    padding: $space-s $space-s;
  }

  &:active {
    background-color: $brand-active;
  }

  &:disabled {
    color: $button-primary-text-disabled;
    background-color: $button-primary-bg-disabled;
  }

  &.loading {
    background-color: $brand;

    &.disabled {
      background-color: $button-primary-bg-disabled;
    }
  }

  &:not([disabled]):hover {
    background-color: $brand-hover;
  }
}
