@import "styles/mixins.scss";
@import "styles/vars.scss";

.repos__status {
  margin-top: $space-l;
  @include flexbox(center, center);
  &_empty {
    margin-top: $space-xxl;
    @include typo(24px, 26px, 500);
    @include flexbox(center, center);
  }
  &_error {
    @include typo(24px, 26px, 500);
    @include flexbox(center, center);
    color: red;
  }
}

.repos__list {
  @include flexbox(stretch, flex-start, 80px);
  flex-wrap: wrap;

  margin-top: $space-xxl;

  .stars {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 16px;
      height: 16px;

      background-image: url("assets/star.svg");
      background-repeat: no-repeat;
    }
  }
}
