@import "styles/forwarded";

.orgs {
  position: relative;

  padding-top: $space-xxxl;
  padding-bottom: 100px;

  min-height: calc(100vh - 66px);

  &_error {
    margin-top: 20px;
    @include typo(24px, 26px, 500);
    @include flexbox(center, center);
    color: red;
  }

  &__header {
    text-align: center;
  }
  .pageUp {
    @include flexbox(center, center);

    position: fixed;
    bottom: 100px;
    right: 100px;

    height: 70px;
    width: 70px;

    background-color: $brand;
    border-radius: 50%;
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    &.fadeIn {
      animation: fadeIn 300ms ease-in-out forwards;
    }
    &.fadeOut {
      animation: fadeOut 150ms ease-in-out forwards;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
