@import "styles/vars.scss";
@import "styles/mixins.scss";

.orgs {
  position: relative;

  padding-top: $space-xxxl;
  padding-bottom: 100px;

  min-height: calc(100vh - 66px);

  &__status {
    margin-top: $space-xxxl;
    @include flexbox(center, center);
  }
  &__empty {
    @include typo(24px, 26px, 500);
    @include flexbox(center, center);
  }

  &__header {
    text-align: center;
  }
}
