@import "styles/vars.scss";

.orgs {
  height: 100%;
  margin-top: $space-xxxl;
  padding-bottom: $space-xxxl;

  &__header {
    text-align: center;
  }
  .emptyOrgList {
    margin-top: $space-xxxl;
    text-align: center;
  }
}
