@import "./reset.scss";
@import "./vars.scss";
@import "./Roboto/fonts";

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

.app {
  min-height: 100vh;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f6f8fa;
}
