@import "./reset.scss";
@import "./vars.scss";
@import "./Roboto/fonts";

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $background-color;
  color: $text-primary;
}
