.margin-xxl {
  margin: var(--margin-xxl);
}
.margin-xl {
  margin: var(--margin-xl);
}
.margin-l {
  margin: var(--margin-l);
}
.margin-m {
  margin: var(--margin-m);
}
.margin-s {
  margin: var(--margin-s);
}
.margin-xs {
  margin: var(--margin-xs);
}
.margin-xxs {
  margin: var(--margin-xxs);
}

.margin-top-xxl {
  margin-top: var(--margin-xxl);
}
.margin-top-xl {
  margin-top: var(--margin-xl);
}
.margin-top-l {
  margin-top: var(--margin-l);
}
.margin-top-m {
  margin-top: var(--margin-m);
}
.margin-top-s {
  margin-top: var(--margin-s);
}
.margin-top-xs {
  margin-top: var(--margin-xs);
}
.margin-top-xxs {
  margin-top: var(--margin-xxs);
}
.margin-left-xxl {
  margin-left: var(--margin-xxl);
}
.margin-left-xl {
  margin-left: var(--margin-xl);
}
.margin-left-l {
  margin-left: var(--margin-l);
}
.margin-left-m {
  margin-left: var(--margin-m);
}
.margin-left-s {
  margin-left: var(--margin-s);
}
.margin-left-xs {
  margin-left: var(--margin-xs);
}
.margin-left-xxs {
  margin-left: var(--margin-xxs);
}
.margin-right-xxl {
  margin-right: var(--margin-xxl);
}
.margin-right-xl {
  margin-right: var(--margin-xl);
}
.margin-right-l {
  margin-right: var(--margin-l);
}
.margin-right-m {
  margin-right: var(--margin-m);
}
.margin-right-s {
  margin-right: var(--margin-s);
}
.margin-right-xs {
  margin-right: var(--margin-xs);
}
.margin-right-xxs {
  margin-right: var(--margin-xxs);
}
.margin-bottom-xxl {
  margin-bottom: var(--margin-xxl);
}
.margin-bottom-xl {
  margin-bottom: var(--margin-xl);
}
.margin-bottom-l {
  margin-bottom: var(--margin-l);
}
.margin-bottom-m {
  margin-bottom: var(--margin-m);
}
.margin-bottom-s {
  margin-bottom: var(--margin-s);
}
.margin-bottom-xs {
  margin-bottom: var(--margin-xs);
}
.margin-bottom-xxs {
  margin-bottom: var(--margin-xxs);
}
