// GAP VARS
:root {
  // border
  --border-radius: 6px;
  // brand
  --brand: #518581;
  --brand-active: #487773ff;
  --brand-hover: #86aaa7ff;
  // spaces
  --space-xxxs: 4px;
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 14px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 40px;
  --space-xxxl: 44px;
  // loader
  --loader-bg: #518581;
  // button
  --button-primary-bg: #518581;
  --button-primary-text: #ffffff;
  --button-primary-bg-hover: #86aaa7;
  --button-primary-text-hover: #ffffff;
  --button-primary-bg-disabled: #d9d9d9;
  // --button-primary-text-disabled: #0c0505;
  --button-primary-text-disabled: rgba(255, 255, 255, 1);
  --button-primary-bg-active: #487773;
  --button-primary-text-active: #ffffff;
  // text
  --text-primary: #000000;
  --text-secondary: #afadb5;
  --text-accent: #518581;
  // input
  --input-text: #000000;
  --input-bg: #ffffff;
  --input-placeholder: #afadb5;
  --input-border: #ffffff;
  --input-bg-focus: #ffffff;
  --input-border-focus: #518581;
  --input-text-focus: #000000;
  --input-bg-disabled: #ffffff;
  --input-border-disabled: #ffffff;
  --input-text-disabled: rgba(0, 0, 0, 0.2);
  // checkbox
  --checkbox-bg: #ffffff;
  --checkbox-border: #ffffff;
  --checkbox-bg-hover: #ffffff;
  --checkbox-border-hover: #518581;
  --checkbox-bg-disabled: #ffffff80;
  --checkbox-border-disabled: #ffffff00;
  --checkbox-check: #518581;
  --checkbox-check-hover: #518581;
  --checkbox-check-disabled: #00000033;
  // card
  --card-bg: #ffffff;
  --card-image-bg: #d9d9d9;
  // dropdown
  --dropdown-options-bg: #ffffff;
  // border
  --checkbox-border-disabled: #ffffff00;
  // margin
  --margin-xxl: 40px;
  --margin-xl: 36px;
  --margin-l: 24px;
  --margin-m: 20px;
  --margin-s: 18px;
  --margin-xs: 14px;
  --margin-xxs: 8px;
  // tags
  --tag-bg: #daedff;
  --tag-color: #0066cc;
}
