@import "./themeVars.scss";

// sass
$background-color: var(--background-color);
// border
$border-radius: 6px;
$border-color-light: var(--border-color-light);
// brand
$brand: var(--brand);
$brand-active: var(--brand-active);
$brand-hover: var(--brand-hover);
// loader
$loader-bg: var(--text-accent);
// button
$button-primary-bg: var(--button-primary-bg);
$button-primary-text: var(--button-primary-text);
$button-primary-bg-hover: var(--button-primary-bg-hover);
$button-primary-text-hover: var(--button-primary-text-hover);
$button-primary-bg-disabled: var(--button-primary-bg-d);
$button-primary-text-disabled: var(--button-primary-text-disabled);
$button-primary-bg-active: var(--button-primary-bg-active);
$button-primary-text-active: var(--button-primary-text-active);
// text
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-accent: var(--text-accent);
// input
$input-text: var(--input-text);
$input-bg: var(--input-bg);
$input-placeholder: var(--input-placeholder);
$input-border: var(--input-border);
$input-bg-focus: var(--input-bg-focus);
$input-border-focus: var(--input-border-focus);
$input-text-focus: var(--input-text-focus);
$input-bg-disabled: var(--input-bg-disabled);
$input-border-disabled: var(--input-border-disabled);
$input-text-disabled: var(--input-text-disabled);
// checkbox
$checkbox-bg: var(--checkbox-bg);
$checkbox-border: var(--checkbox-border);
$checkbox-bg-hover: var(--checkbox-bg-hover);
$checkbox-border-hover: var(--text-accent);
$checkbox-bg-disabled: #ffffff80;
$checkbox-border-disabled: #ffffff00;
$checkbox-check: var(--text-accent);
$checkbox-check-hover: var(--text-accent);
$checkbox-check-disabled: #00000033;
// card
$card-bg: var(--card-bg);
$card-image-bg: var(--card-image-bg);
$card-hover-shadow: var(--card-hover-shadow);
// dropdown
$dropdown-options-bg: var(--dropdown-options-bg);
// tags
$tag-bg: var(--tag-bg);
$tag-color: var(--tag-color);
// spaces
$space-xxxs: 4px;
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
