@import "styles/forwarded";

.card {
  max-width: 360px;
  height: 100%;

  background-color: $card-bg;

  &:hover {
    box-shadow: $card-hover-shadow;
  }

  &__img {
    width: 100%;
    max-height: 360px;

    background-color: $card-image-bg;
  }

  &__info {
    padding: $space-xl $space-xs;

    .card__header {
      .card__caption {
        @include flexbox(center, flex-start, 20px);
      }
    }

    .card__footer {
      @include flexbox(center, space-between);
      margin-top: $space-xl;
    }
  }
}
