@import "styles/mixins.scss";

.card {
  max-width: 360px;
  // height: 506px;
  // height: 622px;

  background-color: var(--card-bg);
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .card__img {
    width: 100%;
    max-height: 360px;

    background-color: var(--card-image-bg);
  }
  .card__info {
    padding: var(--space-xl) var(--space-xs);

    .card__footer {
      @include flexbox(center, space-between);
      margin-top: 20px;
    }
  }
}
