@import "styles/forwarded";

.checkbox__label {
  position: relative;
  @include flexbox(center, center);

  width: 40px;
  height: 40px;

  .checkbox__input {
    position: absolute;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 40px;
    height: 40px;

    cursor: pointer;

    background-color: $checkbox-bg;
    border: 1px solid $checkbox-border;
    &:hover {
      background-color: $checkbox-bg-hover;
      border: 1px solid $checkbox-border-hover;
    }
    &:disabled {
      background-color: $checkbox-bg-disabled;
      border: 1px solid $checkbox-border-disabled;
    }
  }

  .checkbox_checked {
    position: relative;

    user-select: none;
    pointer-events: none;

    @include flexbox(center, center, 50px);
  }
  .path {
    stroke: black;
    stroke-opacity: 0.2;
  }
  .path_checked {
    stroke: $brand;
  }
}
