@import "styles/mixins.scss";

label {
  position: relative;
  @include flexbox(center, center);

  width: 40px;
  height: 40px;

  input {
    position: absolute;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 40px;
    height: 40px;

    cursor: pointer;

    background-color: var(--checkbox-bg);
    border: 1px solid var(--checkbox-border);
    &:hover {
      background-color: var(--checkbox-bg-hover);
      border: 1px solid var(--checkbox-border-hover);
    }
    &:disabled {
      background-color: var(--checkbox-bg-disabled);
      border: 1px solid var(--checkbox-border-disabled);
    }
  }

  span {
    user-select: none;
    pointer-events: none;
    // MAY BE DELETE
    position: relative;

    @include flexbox(center, center, 50px);
  }
}
