@import "styles/forwarded.scss";

.contributors {
  &__title {
    display: flex;

    .contributors__text {
      margin-right: 2px;
    }

    .contributors__badge {
      @include flexbox(center, center);

      width: 16px;
      height: 16px;

      @include typo(10px, 10px, 700);

      color: #0000009e;

      background-color: var(--card-image-bg);
      border-radius: 50%;
    }
  }

  .contributors__list {
    margin-top: $space-m;

    .contributors__item {
      @include flexbox(center, flex-start, 12px);
      margin-top: $space-xxs;
      .info {
        @include flexbox(center, flex-start, 8px);
        cursor: pointer;
        &__avatar {
          width: 32px;
          height: 32px;

          border-radius: 50%;
        }
      }
    }
  }
}
