@import "styles/mixins.scss";
@import "styles/vars.scss";

.repo {
  height: 100%;
  padding: $space-xxxl 0;

  &__header {
    @include flexbox(center, flex-start, $space-m);
    img {
      border-radius: $border-radius;
    }
  }

  &__homepage {
    @include flexbox(center, flex-start, $space-xxs);

    margin-top: $space-xl;

    @include typo(16px, 18px, 700);
    color: $tag-color;
  }

  &__subs {
    margin-top: $space-l;

    .subs__tag {
      position: relative;

      margin-top: $space-xxs;
      padding-left: $space-xl;

      .subs__count {
        margin-right: $space-xxs;
        font-weight: 700;
      }

      &.stars {
        margin-top: 0;
      }
      &.stars::before,
      &.watchers::before,
      &.forks::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 16px;
        height: 16px;

        background-repeat: no-repeat;
      }

      &.stars::before {
        background-image: url("assets/star.svg");
      }

      &.watchers::before {
        background-image: url("assets/eye.svg");
      }

      &.forks::before {
        background-image: url("assets/fork.svg");
      }
    }
  }

  &__info {
    @include flexbox(flex-start, flex-start, 80px);
    margin-top: $space-l;
    padding-bottom: $space-xxs;
  }
}
