@import "styles/forwarded";

.repo {
  height: 100%;
  padding: $space-xxxl 0;

  .header {
    @include flexbox(center, flex-start, $space-m);

    &__avatar {
      border-radius: $border-radius;
    }
  }

  .homepage {
    @include flexbox(center, flex-start, $space-xxs);
    margin-top: $space-xl;

    &__imgWrapper {
      @include flexbox(center, center);

      width: 30px;
      height: 30px;

      border-radius: 50%;
      background-color: $brand;

      .homepage__img {
        height: 20px;
        width: 20px;
      }
    }

    &__Link {
      @include typo(16px, 18px, 700);
      color: $tag-color;
      cursor: pointer;
    }
    &_empty {
      @include flexbox(center, center);
      @include typo(20px, 22px, 500);
    }
  }
  &__info {
    @include flexbox(flex-start, space-between, 80px);
    margin-top: $space-xl;
    @media (max-width: 700px) {
      flex-direction: column;
      gap: 30px;
    }
  }
}

html[data-theme="dark"] {
  .homepage__ImgWrapper {
    background-color: $background-color-invert;
  }
}
