@import "styles/mixins.scss";
@import "styles/vars.scss";

.repo {
  height: 100%;
  padding: $space-xxxl 0;

  &__status {
    margin-top: $space-xxs;
    @include flexbox(center, center);
    @include typo(20px, 22px);
    &_empty {
      width: 30vw;
      display: flex;
      align-items: center;

      justify-content: space-between;
    }
  }

  &__header {
    @include flexbox(center, flex-start, $space-m);
    img {
      border-radius: $border-radius;
    }
  }

  &__homepage {
    margin-top: $space-xl;
    @include flexbox(center, flex-start, $space-xxs);

    .homepage__Link {
      @include typo(16px, 18px, 700);
      color: $tag-color;
    }
  }
  .homepage__empty {
    @include flexbox(center, center);
    @include typo(20px, 22px, 500);
  }

  &__info {
    @include flexbox(flex-start, flex-start, 80px);
    margin-top: $space-xl;
  }
}
